<div style="display:none;" class="alert alert-success" role="alert" id="successAlert">
    New Product Added
</div>
<div style="display:none;" class="alert alert-danger" role="alert" id="dangerAlert">
    New Product Added
</div>